@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
a, p, h1, h2, h3{
  font-family: 'Lato', sans-serif;
  color: #313334;
}
.header{
  width: 100%;
  height: 100px;
  background: white;
}
.header img{
  margin-top: 15px;
}
.menu{
  display: flex;
  margin-left: 10%;
  margin-top: -30px;
}
.menu a{
  padding-left: 50px;
  color: #575655;
  text-decoration: none;
}
.menu a:hover{
  color: #0066db;
}
.header h2{
  float: right;
  margin-right: 200px;
  margin-top: -30px;
}
.order_bt{
  width: 180px;
  height: 48px;
  background-color: #1071ff;
  border: 1px solid #1071ff;
  color: white;
  font-size: 18px;
  float: right;
  margin-right: -350px;
  margin-top: -35px;

  transition: color 0.5s;
  transition: background-color 0.5s;
}
.order_bt:hover{
  color: black;
  background-color: white;
}
.heading{
  padding-left: 150px;
  width: 700px;
}
.i{
  font-size: 20px;
  padding-left: 150px;
}

.input{
  width: 500px;
  height: 40px;
  border: 1px solid grey;
}
.textarea{
  width: 500px;
  height: 110px;
  border: 1px solid grey;
}
.send_bt{
  width: 140px;
  height: 48px;
  background-color: #1071ff;
  border: 1px solid #1071ff;
  color: white;
  font-size: 18px;


  transition: color 0.5s;
  transition: background-color 0.5s;

}
.send_bt:hover{
  color: black;
  background-color: white;
}
.order{
  background: white;
  width: 100%;
  height: 100%;
  position: fixed;
  padding-left: 150px;
  padding-top: 50px;
  display: none;

  transition: display 0.5s;
}

.slider{
  width: 850px;
  height: 660px;
  overflow: hidden;
  margin-top: 100px;

}
.phs1{
  margin-left: 0px;
  transition: margin-left 0.5s;
}
.phs2{
  margin-left: 850px;
  margin-top: -665px;
  display: flex;

  transition: margin-left 0.5s;
}
.left{
  width: 48px;
  height: 48px;
  background-image: url({% static "img/left.png" %})
  border: 0px;
  position: relative;
  left: -350px;
  top: -350px;
  font-size: 30px;
}
.right{
  width: 48px;
  height: 48px;
  background-image: url({% static 'img/right.png' %})
  border: 0px;
  position: relative;
  left: 350px;
  top: -350px;
  font-size: 30px;
}
.adv{
  background: lightgrey;
  width: 450px;
  height: 500px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 20px;
}
.advs{
  margin-left: 130px;
}
.ph_img{
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.ph_img:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.pph{
  margin-top: 1100px;
  margin-left: 150px;

}
.slider2{
  display: flex;
  width: 660px;
  height: 420px;
  overflow: hidden;
}
.left2{
  width: 48px;
  height: 48px;
  font-size: 30px;
  position: relative;
  left: 160px;
  top: -250px;

}
.right2{
  width: 48px;
  height: 48px;
  font-size: 30px;
  position: relative;
  left: 700px;
  top: -250px;
}
